<!DOCTYPE html>
<html lang="pt-br">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Editar Orçamento</title>
<style>
*{ text-align:center; }
</style>
</head>
<body>

<h1>Editar Orçamento</h1>

<a href="{{url_for('home')}}">Voltar à inicial</a><br><br>

<form method="POST" action="{{ url_for('atualizar_orcamento', id_orcamento=orcamento.id_orcamento) }}">

    <label>Cliente:</label>
    <input type="text" name="cliente" value="{{ orcamento.cliente }}" required><br>

    <label>Cidade:</label>
    <input type="text" name="cidade" value="{{ orcamento.cidade }}" required>

    <br><br><hr>
    
    {% for item in itens %}
        <div class="item-bloco" data-item-id="{{ item.id }}">
        
            <input type="hidden" name="item_id[]" value="{{ item.id }}">

            <strong style="font-size: 30px;">{{ item.nome }}</strong><br><br>

            Quantidade:
            <input type="number" name="quantidade[]" value="{{ item.quantidade }}"><br><br>

            Cor:
            <input type="text" name="cor[]" value="{{ item.cor }}"><br><br>

            Medida:
            <input type="text" name="medida[]" value="{{ item.medida }}"><br><br>

            Vidro/material:
            <input type="text" name="vidro[]" value="{{ item.vidro }}"><br><br>

            Unitário:
            <input type="number" step="0.01" name="unitario[]" value="{{ item.unitario }}"><br><br>

            Local:
            <input type="text" name="local[]" value="{{ item.local }}"><br><br>

            <button type="button" style="color:red;padding:5px 13px" onclick="excluir({{ item.id }})">
            🗑️ Excluir produto
            </button><br><br>

            <label>
                <input type="checkbox" name="nao_incluso[]" value="{{item.id}}"
                {% if item.nao_incluso == 1 %}checked{% endif %}>
                Não Incluir no Valor Final
            </label><br><br>

            <button type="button" onclick="adicionarTemporario(this, 'abaixo')">
            ➕ Inserir item abaixo
            </button><hr>


            <br>
        </div>
    {% endfor %}

    <button type="submit">💾 Salvar alterações</button><br><br>

    <a style="text-decoration:none; border-style: solid; border-width: 1px; border-color: black; padding: 5px"href="{{ url_for('gerar_pdf', id_orcamento=orcamento.id_orcamento) }}" target="_blank">
    📄 Gerar PDF
    </a>

</form>

<script>

function adicionarTemporario(botao, posicao){

    const blocoReferencia = botao.closest(".item-bloco");
    const idReferencia = blocoReferencia.dataset.itemId;

    const novoBloco = document.createElement("div");
    novoBloco.classList.add("item-bloco");

    novoBloco.innerHTML = `

    <input type="hidden" name="inserir_depois_id[]" value="${idReferencia}">

    Produto:
    <input type="text" name="novo_id_produto[]"><br><br>

    Quantidade:
    <input type="number" name="novo_quantidade[]"><br><br>

    Cor:
    <input type="text" name="novo_cor[]"><br><br>

    Medida:
    <input type="text" name="novo_medida[]"><br><br>

    Vidro/Material:
    <input type="text" name="novo_vidro[]"><br><br>

    Valor Unitário:
    <input type="number" step="0.01" name="novo_unitario[]"><br><br>

    Local:
    <input type="text" name="novo_local[]"><br><br>

    <button type="button" style="color:red;padding:5px 13px" onclick="this.closest('.item-bloco').remove()">
    🗑️ Remover este item
    </button><br><br>

    <label>
        <input type="checkbox" name="novo_nao_incluso[]" value="1">
        Não Incluir no Valor Final
    </label><br><br>

    <button type="button" onclick="adicionarTemporario(this, 'abaixo')">
    ➕ Inserir item abaixo
    </button>

    <hr>
    `;

    if(posicao === "acima"){
        blocoReferencia.insertAdjacentElement("beforebegin", novoBloco);
    }else{
        blocoReferencia.insertAdjacentElement("afterend", novoBloco);
    }
}

function excluir(idItem){

if(!confirm("Tem certeza que deseja excluir este item?")){
return;
}

fetch("/excluir_item_orcamento/"+idItem,{
method:"POST"
})
.then(response=>{
if(response.ok){
location.reload();
}else{
alert("Erro ao excluir.");
}
});

}

</script>

</body>
</html>