<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Casa</title>
    <style>
        a{
            font-size: 30px;
        }
        *{
            text-align: center;
        }
    </style>
    
</head>
<body>


<h1>Sistema gerenciador de Orçamentos de Marcelo Gustmann</h1>


<a href="{{url_for('cadastro_novo_prod')}}"> Cadastrar item novo</a><br><br>
<a href="{{url_for('prod_cadastrados')}}">Ver todos os meus itens</a><br><br>
<a href="{{url_for('cadastrar_orc')}}">Cadastrar orçamento novo</a><br><br>
<a href="{{url_for('orc_cadastrados')}}">Ver todos os meus orçamentos</a><br><br>




</body>
</html>
